/* Style for the tool tip! */
* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: 'Abel', Arial, Verdana, Helvetica, sans-serif;
	color: #4a4a4a;
	font-size: 14px;
}
a {
	text-decoration: none;
	color:#55adda;
}
input, textarea {
	background: #ffffff;
	color: #9a9a9c;
	font-size: 12px;
	font-family:  Arial, Helvetica, sans-serif;
	border-radius: 10px 10px;
	margin-left: 10px;
	margin-top: 24px;
	float: left;
	height: 30px;
	width: 70px;
	border: none;
	overflow:hidden;
	
}
input:hover, input:focus {
	border: none;
	outline: none;
}
.infield{
  background-position: 3px, 0px, 0px, 0px;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.people{
  background-image: url('img/people.png');
 }
.date{
  background-image: url('img/Calenda.png');
 }
.budget{
  background-image: url('img/money.png');
 }
.what{
  background-image: url('img/time.png');
 }
.where{
  background-image: url('img/place.png');
 }
.page {
	display: none;
}

.page {
	display: none;
}

body {
	background: #ffff;
}
#container {
	position: relative;
	min-height: 100%;
	_height: 100%;
	margin: auto;
}
header{
	height: 82px;
}
header p{
	padding-top: 30px;
	color:#67707c;
} 
header a{
	
} 
nav{
	height: 76px;
	background-color: #000000;
	border-top-left-radius: 20px 15px;
	border-top-right-radius: 20px 15px;
} 
nav p{
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	font-size: 25px;
	color: #cbcbcb;
}
.find img{
	margin-top: 15px;
	margin-left: 18px;
	
}
.locationButton{
	float: left;
	padding-top: 27px;
	padding-left: 10px;
}
.innerContent{
	width: 978px;
	position: relative;
	margin: auto;
}
.logo{
	float: left;
	margin-left: 10px;
}
.supplier {
	padding: 10px;
	float: left;
}
.supplier-icon {
	border: 1px solid #888;
	width: 200px;
	height: 150px;
	background-position: 50% 25%;
	background-size: cover;
}
.tools{
	background-color: #cccccc;
	color: #383838;
	height: 30px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -10px;
	margin-left: 1px;
	padding-top: 7px;
}

.tooltip {
	display:none;
	background:transparent url(black_arrow_up.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	margin: 10px;
	color:#fff;	
}
.tooltipped{
	float: left;
	display: block;
	margin-left: 25px;
	font-weight: bold;
	height: 30px;
}
.tooltipped:hover{
	background-color: #999999;
	background-position: -10px;
	margin-top: -5px;
	height: 35px;

}

.lst {
	margin-right: 20px;
	float: left;
	width: 229px;
}
.lst > div {
	margin: 10px 0;
}

.misc {
	margin-right: 0;
}
.bidDetails {
	display: none;
}

#waitingPage h1 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.bids {
	float: left;
}
.bid-con {
	padding-bottom: 30px;
	clear: both;
	border-bottom: 1px solid #ddd;
	width: 778px;
	margin-bottom:15px;
}
.last .bid-con {
	border-bottom: none;
	margin-bottom:0px;
	padding-bottom:0px;
}
.bid-price, .bid-sup, .bid-rating {
	float: left;
}
.bid-price {
	color: #298BBC;
}
.bid-rating {
	width: 150px;
}
.bid-sup {
	font-weight: bold;
	width: 200px;
}
.bid-sup a {
	color: #298BBC;
}
.bid-cat {
	width: 200px;
	float: left;
}
.bid-name {
	margin-bottom: 3px;
	font-weight: bold;
}
.bid-time {
	font-size: 11px;
}
.bid-table {
	padding-top: 20px;
	clear: both;
	border-top: 2px solid #ccc;
	margin-top: 15px;
	padding-bottom: 5px;
}
.choose{
	float: left;
	margin-left: 20px;
}
