/* Style for the tool tip! */
.tooltip {
	display:none;
	background:transparent url(black_arrow_up.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	margin: 10px;
	color:#fff;	
}

.page {
	display: none;
}

body {
	background: #eee;
}

#innerContent {
	padding: 5px;
	background: #fff;
}
